.header {
    z-index: 10;
    width: 100%;
    background-color: #771F02;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px 170px;
}

.title {
    font-size: 2em;
    font-weight: 700;
    color: #ffffff;
}

.image-container {
    position: relative;
}

.image-container img {
    object-fit: cover;
}
.image-container::after {
    content: "";
    position: absolute;
    display: block;
    width: 101%;
    height: 100px;
    transform: rotate(-2deg) translateY(-2rem) translateX(-0.5rem);
    background-color: #252525;
}
